.section-services {
  background-color: hsl(190, 74%, 65%);

  width: 100%;
  padding-bottom: 5rem;
}

.services {
  display: flex;
  justify-content: space-between;
  /* width: 33%; */
}
.service-container {
  width: 30%;
}
