.story {
  display: flex;
  width: 75%;
  margin: 0 auto 5vh auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); /*$color-black */
  background-color: rgba(111, 197, 44, 0.6); /* $color-white*/
  border-radius: 3px; /*#ff99ff99 */
  /* padding: 6rem; */
  /* padding-left: 9rem; */
  /* font-size: $default-font-size; */
  transform: skewX(-12deg);
}

.story__shape {
  margin-left: 10vw;
  width: 10rem;
  height: 10rem;
  /* float: left; */
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  /* overflow: hidden; */
  /* border-radius: 50%; */

  clip-path: polygon(0 0);
  -webkit-clip-path: polygon(0 0);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  /* border-radius: none; */
}

.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.5s;
}

.story__text {
  transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  /*$color-white */
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}
