.card {
  /* // FUNCTIONALITY */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
  /*initially 52 */
}

.card__side {
  height: 35rem; /*initially 52 */
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #f7f7f7; /*initially #fff */
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

/* // FRONT SIDE STYLING */
.card__picture {
  background-size: cover;
  height: 12rem; /*initially 23 */
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(../../assets/img/bookReportNoWM.png);
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(../../assets/img/testHeader.png);
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url(../../assets/img/bookReportNoWM.png);
}

.card__heading {
  font-size: 1.4rem; /*initially 2.8 */
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: #fff; /*not initally, but pretty color #2998ff*/
  position: absolute;
  top: 8.5rem; /*initially 12 */
  right: 1.5rem; /*initially 2 */
  width: 75%;
}

.card__heading-span {
  padding: 0.25rem 0.375rem; /* initially 1rem 1.5rem; */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}

.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(#7ed56f, 0.85),
    rgba(#28b485, 0.85)
  );
}

.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(#2998ff, 0.85),
    rgba(#5643fa, 0.85)
  );
}

.card__details {
  padding: 1.5rem; /* 3*/
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-inline-start: 0;
}

.card__details ul li {
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

/* // FRONT SIDE STYLING */
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 2rem; /*initially 1.6rem */
  text-transform: uppercase;
}

.card__price-value {
  font-size: 5rem;
  font-weight: 100;
}
