.header {
  display: flex;
}

.logo {
  /* position: absolute;
  top: 5vh;
  left: 5vh; */
  margin: 5vh 12vh 5vh 20vh;
  height: 60vh;
  width: 60vh;

  background-image: url(../../assets/img/LWJ_Logo.png);
  background-size: cover;
  /* background-color: #333;
  z-index: 2; */
}

.header-img {
  height: 60vh;
  width: 50vw;
  margin-top: 10vh;
  background-image: url(../../assets/img/testHeader.png);
  background-size: cover;
}
