/* .top-clip {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ccc;
  clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 0% 95%);
  z-index: -1;
} */

.content {
  display: flex;
  min-height: 80vh;
  margin: 0 5% 0 5%;
  /* background-color: #f5f3f7; */
  flex-direction: column;
}

.header-nav {
  border-top: 3px solid orange;
  display: flex;
  /* background-image: linear-gradient(#f5f3f7, #f5f3f7); */
  background-color: #999;
  opacity: 0.8;
  justify-content: space-around;
  flex: 1;
}

.header-nav-alt {
  border-top: 3px solid orange;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 90%;
  margin: 0 5%;
  background-color: #999;
  opacity: 0.97;
  justify-content: space-around;
  /* flex: 1; */
}

.booking {
  padding: 0 0 5rem 0;
}

.util-center-text {
  text-align: center;
}
.util-margin-bottom {
  margin-bottom: 2rem;
}
.util-margin-top {
  margin-top: 2rem;
}
.util-margin-bottom-big {
  margin-bottom: 5rem;
}
.util-margin-top-big {
  margin-top: 5rem;
}
.heading-secondary {
  font-size: 250%;
  font-style: italic;
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 65%,
      transparent 65%
    ),
    url(./assets/img/capAndDiploma.png);

  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);
}
.book__form {
  width: 50%;
  padding: 2rem 6rem 6rem 6rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(#fff, 0.5); /*$color-white */ /* */
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(#000, 0.1); /* $color-black*/
  border-bottom: 3px solid #f9f9; /*$color-primary */
}

.form__input:focus:invalid {
  border-bottom: 3px solid #f7f7; /*$color-secondary-dark */
}

.form__input::-webkit-input-placeholder {
  color: #777; /*$color-grey-dark-2 */
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: inherit; /*$default-font-size */
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #f9f9; /*$color-primary */
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form__radio-button::after {
  content: '';
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9; /*$color-primary */
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

/*
 *Scrolling         ?
 */

/* a[id='booking']:target ~ #booking {
  -webkit-transform: translateY(400vh);
  transform: translateY(400vh);
}

a[ id= "galeria" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "contacto" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
} */
